<mat-expansion-panel hideToggle class = 'item-card'>
  <mat-expansion-panel-header>
    <div class = 'item-card-header'>
      <mat-panel-title class = 'item-name'> {{item.itemName}}  </mat-panel-title>
    </div>
  </mat-expansion-panel-header>

  <h3>Zones:</h3>
  <mat-list role="list" class="info-item-zone-list">
    <mat-list-item
    role="listitem"
    *ngFor="let zone of item.zoneResponses">{{zone.zoneName}}</mat-list-item>
  </mat-list>

  <h3>Vendors:</h3>
  <mat-list role="list" class="info-item-vendor-list">
    <mat-list-item
      role="listitem"
      *ngFor="let vendor of item.vendorResponse">{{vendor.vendorName}}</mat-list-item>
  </mat-list>
  <mat-panel-title class = 'item-min-quantity'> Minimum quantity: {{item.minQuantity}}  </mat-panel-title>
  <div class="action-group">
    <button mat-raised-button class="action-edit-btn" *ngIf="true">edit</button>
    <button mat-raised-button class="action-open-btn" *ngIf="true">open</button>
    <button mat-raised-button class="action-delete-btn" *ngIf="true">Delete</button>
  </div>
</mat-expansion-panel>
