<div class="register-wrapper">
  <form class="register-form">
    <div>
      <h1>Register</h1>
    </div>

    <mat-form-field class="profile-form-filed">
      <mat-label>Enter your profile name</mat-label>
      <input
        matInput
        required
        [formControl]="profileName"
        (blur)="updateProfileNameErrorMessage()"
        class="profile-form-input"
      />
      <mat-error *ngIf="profileName.invalid">{{errorProfileNameMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="username-form-filed">
      <mat-label>Enter your username</mat-label>
      <input
        matInput
        required
        [formControl]="email"
        (blur)="updateEmailErrorMessage()"
        class="username-form-input"
      />
      <mat-error *ngIf="email.invalid">{{ errorEmailMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="password-form-filed">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        required
        [formControl]="password"
        [type]="hide() ? 'password' : 'text'"
        (blur)="updatePasswordErrorMessage()"
        class="password-form-input"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
        type="button"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">{{ errorPasswordMessage() }}</mat-error>
    </mat-form-field>

    <mat-error>{{ registerStatusMessage() }}</mat-error>
    <div>
      <button mat-raised-button class="register-btn" type="button" (click)="onRegisterClick()" >Register</button>
    </div>

    <div>
      <button mat-raised-button class="login-btn" type="button" (click)="loginOnRegisterClick()">Login</button>
    </div>
  </form>
</div>
