<mat-expansion-panel hideToggle class = 'item-card'>
  <mat-expansion-panel-header>
    <div class = 'item-card-header'>
      <mat-panel-title class = 'item-name'> Item name  </mat-panel-title>
      <mat-panel-description class = 'item-save-count'> 500 </mat-panel-description>
      <div class = 'item-status'>
        <mat-icon class = 'item-status-quant'>expand_circle_down</mat-icon>
        <mat-icon class = 'item-status-count'>task_alt</mat-icon>
      </div>
    </div>
  </mat-expansion-panel-header>

  <div class="count-input-group">
    <button mat-mini-fab class = 'item-edit-minus-btn'>
      <mat-icon>remove</mat-icon>
    </button>
    <mat-form-field class = 'item-count-input-txt' appearance="outline">
      <mat-label>
        <strong *ngIf=true>in boxes</strong>
        <strong *ngIf=false>in items</strong>
        <!--            <strong *ngIf="showBoxHint">Count as box</strong>-->
        <!--            <strong *ngIf="!showBoxHint">Count as item</strong>-->
      </mat-label>
      <input matInput type="number"  min="0"  >
    </mat-form-field>
    <button mat-mini-fab class = 'item-edit-add-btn'>
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="count-action-group">
    <button mat-mini-fab class="count-action-info-btn" *ngIf="true" (click)="openInfo()">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-raised-button class="count-action-save-btn" (click)="openSubmit()">submit</button>
    <button mat-mini-fab class="count-action-delete-btn" *ngIf="true">
      <mat-icon>delete</mat-icon>
    </button>
  </div>



</mat-expansion-panel>
