.item-card-header{
  display: flex;           /* Arrange children horizontally */
  align-items: center;     /* Vertically center the elements */
  justify-content: space-between; /* Push one to left, one to center, one to right */
  width: 100%;             /* Ensure the container spans the full width */
}

.item-name {
  display: flex;
  flex: 1;                    /* Makes sure the item name stays on the left */
}

.item-save-count {
  text-align: right;         /* Center the middle item */
  flex: 1;                    /* Keeps it in the middle */
}

.item-last-count {
  text-align: right;          /* Align the last item to the right */
  flex: 1;    /* Keeps it aligned to the right */
}

.count-input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.count-action-group {
  display: flex;
  justify-content: space-between; /* Spaces elements across the row */
  align-items: center; /* Aligns elements vertically */
  padding-top: 12px;
}

.count-action-center {
  flex-grow: 1; /* Makes this div take all available space */
  display: flex;
  justify-content: space-between; /* Centers the Save button within its container */
  width: 100%;
}
