

  <mat-toolbar class="draw-profile">

    <mat-icon class="draw-profile-icon" fontIcon="home"></mat-icon>

    <div class ="draw-profile-name">
      <span>User Name</span>
    </div>

  </mat-toolbar>

  <mat-list role="list" class="draw-list">

    <mat-list-item role="listitem" class="draw-list-item">
      <button  mat-raised-button class="draw-list-btn" >By item view </button>
    </mat-list-item>

    <mat-list-item role="listitem" class="draw-list-item">
      <button  mat-raised-button class="draw-list-btn" >By zone view </button>
    </mat-list-item>

    <mat-list-item role="listitem" class="draw-list-item">
      <button mat-raised-button class="draw-list-btn" >By vendor view</button>
    </mat-list-item>

    <mat-list-item role="listitem" class="draw-list-item">
      <button mat-raised-button class="draw-list-btn" >Roster</button>
    </mat-list-item>

  </mat-list>


