

<mat-toolbar class="draw-profile">

  <mat-icon class="draw-profile-icon" fontIcon="account_circle"></mat-icon>

  <div class ="draw-profile-name">
    <span>User Name</span>
  </div>

</mat-toolbar>

<mat-list role="list" class="draw-list">

  <mat-list-item role="listitem" class="draw-list-item">
    <button  mat-raised-button class="draw-list-btn"
             [style.background-color]="menuSelectValue === 'zone' ? 'lightgray' : 'white'"
             (click)="onZoneViewClick()"  >By zone view </button>
  </mat-list-item>

  <mat-list-item role="listitem" class="draw-list-item">
    <button mat-raised-button class="draw-list-btn"
            [style.background-color]="menuSelectValue === 'vendor' ? 'lightgray' : 'white'"
            (click)="onVendorViewClick()">By vendor view</button>
  </mat-list-item>

  <mat-list-item role="listitem" class="draw-list-item">
    <button  mat-raised-button class="draw-list-btn"
             [style.background-color]="menuSelectValue === 'allItems' ? 'lightgray' : 'white'"
             (click)="onAllItemsViewClick()">Items</button>
  </mat-list-item>

  <mat-list-item role="listitem" class="draw-list-item">
    <button  mat-raised-button class="draw-list-btn"
             [style.background-color]="menuSelectValue === 'allZones' ? 'lightgray' : 'white'"
             (click)="onAllZonesViewClick()">Zones</button>
  </mat-list-item>

  <mat-list-item role="listitem" class="draw-list-item">
    <button  mat-raised-button class="draw-list-btn"
             [style.background-color]="menuSelectValue === 'allVendors' ? 'lightgray' : 'white'"
             (click)="onAllVendorsViewClick()">Vendors</button>
  </mat-list-item>

  <mat-list-item role="listitem" class="draw-list-item">
    <button mat-raised-button class="draw-list-btn" >Roster</button>
  </mat-list-item>

</mat-list>


