<mat-expansion-panel hideToggle class = 'item-card'>
  <mat-expansion-panel-header>
    <div class = 'item-card-header'>
      <mat-panel-title class = 'item-name'> {{zoneItem.itemName}} </mat-panel-title>
<!--      <mat-panel-description class = 'item-save-count'> {{zoneItem.zoneCount}} </mat-panel-description>-->
      <div class = 'item-status'>
        <mat-icon class = 'item-status-quant' *ngIf="zoneItem.quantity<zoneItem.minQuantity">trending_down</mat-icon>
      </div>
    </div>
  </mat-expansion-panel-header>
  <mat-list role="list" class="item-info-list">
    <mat-list-item role="listitem" class="item-info-list-item-count">Zone count: {{zoneItem.zoneCount}}</mat-list-item>
    <mat-list-item role="listitem" class="item-info-list-item-count">Total: {{zoneItem.quantity}}</mat-list-item>
    <mat-list-item role="listitem" class="item-info-list-item-count">Adjusted: {{countChange}}</mat-list-item>
    <mat-list-item role="listitem" class="item-info-list-item-count">Minimum: {{zoneItem.minQuantity}}</mat-list-item>
  </mat-list>
  <div class="count-input-group">
    <button mat-icon-button = 'item-edit-minus-btn' (click)="decreaseCount()">
      <mat-icon>remove</mat-icon>
    </button>
    <mat-form-field class = 'item-count-input-txt' appearance="outline">
      <input matInput type="number"  min="0"  [(ngModel)]="zoneItem.zoneCount+countChange">
    </mat-form-field>
    <button mat-icon-button class = 'item-edit-add-btn' (click)="increaseCount()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="count-action-group">
    <button mat-raised-button class="count-action-info-btn" *ngIf="true" (click)="openInfo()">info</button>
    <button mat-raised-button class="count-action-save-btn" (click)="openSubmit()">submit</button>
    <button mat-raised-button class="count-action-delete-btn" *ngIf="true">delete</button>
  </div>
</mat-expansion-panel>
