<h2 mat-dialog-title class="add-title">Add item/zone</h2>
<mat-dialog-content>
  <mat-form-field class ="add-selector">
    <mat-label class ="add-selector-label" >Select type</mat-label>
    <mat-select>
      <mat-option class ="add-selector-option" value="add1">zone</mat-option>
      <mat-option class ="add-selector-option" value="add2">item</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button  class="add-btn">Add</button>
</mat-dialog-actions>
