<mat-toolbar>
  <div class="title-bar-elements">
    <button mat-icon-button class="title-bar-menu" (click)="openDrawerEventCreate()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class ="title-bar-Text">
      <span>Store Name/Zones</span>
    </div>
    <button mat-raised-button class="title-bar-add-btn" (click)="openAdd()">Add</button>
  </div>
</mat-toolbar>

<mat-form-field appearance="outline" class="search">
  <input matInput placeholder="search" class="search-input">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<mat-accordion >
  <mat-list role="list" class="items-list">
    <app-zone-card></app-zone-card>
    <app-zone-card></app-zone-card>
    <app-zone-card></app-zone-card>
    <app-zone-card></app-zone-card>
  </mat-list>
</mat-accordion>



