.menu-draw-container {
  height: 100%;
  width: 100%;
  /*background: #eee;*/
}

@media (max-width: 600px) {
  .draw {
    width: 60%;
  }
}

/* For larger screens */
@media (min-width: 601px) {
  .draw {
    width: 20%;
  }
}








