<mat-drawer-container class="menu-draw-container" >

  <mat-drawer [mode]="menuMode" [opened]="menuOpen" class="draw" (closed)="setMenuClosed()" >
    <app-menu-draw (menuSelectEvent)="menuSelect($event)"></app-menu-draw>
  </mat-drawer>

  <app-login
    *ngIf="pageValue === 'login'"
    (loginEvent)="loggedIn()"
    (openRegisterEvent)="openRegister()" >
  </app-login>

  <app-register
    *ngIf="pageValue === 'register'"
    (loginOnRegisterEvent)="switchToLogin()">
  </app-register>

  <app-profile
    *ngIf="pageValue === 'profile'"
    (openDrawerEvent)="toggleMenu()"
    (userLogoutEvent)="userLogout()">
  </app-profile>

  <app-items-by-zone
    *ngIf="pageValue === 'zone'"
    (toggleMenuEvent)="toggleMenu()">
  </app-items-by-zone>

  <app-items-by-vendor
    *ngIf="pageValue === 'vendor'"
    (toggleMenuEvent)="toggleMenu()">
  </app-items-by-vendor>

  <app-all-items
    *ngIf="pageValue === 'allItems'"
    (toggleMenuEvent)="toggleMenu()">
  </app-all-items>

  <app-all-vendors
    *ngIf="pageValue === 'allVendors'"
    (toggleMenuEvent)="toggleMenu()">
  </app-all-vendors>

  <app-all-zones
    *ngIf="pageValue === 'allZones'"
    (toggleMenuEvent)="toggleMenu()">
  </app-all-zones>


</mat-drawer-container>


