<mat-drawer-container class="menu-draw-container" >

  <mat-drawer [mode]="drawerMode" [opened]="drawerOpen" class="draw" (closed)="drawerClosed()" >
    <app-menu-draw (menuSelectEvent)="menuSelect($event)"></app-menu-draw>
  </mat-drawer>

  <app-items-by-zone
    *ngIf="menuSelectValue === 'zone'"
    (openDrawerEvent)="toggleDrawer()">
  </app-items-by-zone>

  <app-items-by-vendor
    *ngIf="menuSelectValue === 'vendor'"
    (openDrawerEvent)="toggleDrawer()">
  </app-items-by-vendor>

  <app-all-items
    *ngIf="menuSelectValue === 'allItems'"
    (openDrawerEvent)="toggleDrawer()">
  </app-all-items>

  <app-all-vendors
    *ngIf="menuSelectValue === 'allVendors'"
    (openDrawerEvent)="toggleDrawer()">
  </app-all-vendors>

  <app-all-zones
    *ngIf="menuSelectValue === 'allZones'"
    (openDrawerEvent)="toggleDrawer()">
  </app-all-zones>


</mat-drawer-container>


