<h2 mat-dialog-title class="info-item-name">Item name</h2>
<mat-dialog-content>
  <mat-list role="list" class="info-item-list">
    <mat-list-item role="listitem" class="info-item-list-id">Id: 100028982</mat-list-item>
    <mat-list-item role="listitem" class="info-item-list-quant">Quant: Box has 2 of them</mat-list-item>
    <mat-list-item role="listitem" class="info-item-list-expire">Best window: 2 weeks</mat-list-item>
    <mat-list-item role="listitem" class="info-item-list-Total">Total available: 40 boxes</mat-list-item>
    <mat-list role="list" class="info-item-zone-list">
      <mat-list-item role="listitem">Zone 1: 20 boxes</mat-list-item>
      <mat-list-item role="listitem">Zone 3: 20 boxes</mat-list-item>
    </mat-list>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-button class="info-close-btn" (click)="onCloseClick()">close</button>
</mat-dialog-actions>

